
@media (orientation: landscape) {
  /* .card { border: 2px solid pink; } */
}
@media (orientation: portrait) {
  /* .card { border: 2px solid green; } */
}

.card {
  --title-height: 2.5rem;
  --content-height: calc(100vh - var(--title-height));
  --card-width: 100%;
  --card-height: 100vh;

  margin: 0; 
  /* margin: 1rem .5rem; */
  padding: 0;
  /* padding: 5px 5px; */
  background-color: lightsteelblue;
  font-family: Arial, sans-serif;
  width: 100%;
  /* max-width: 450px; */
  font-size: 2rem;
  min-height: var(--card-height);
}

.card-title {
  height: var(--title-height);
  color: black;
  font-weight: bold;
  border-bottom: 1px solid black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.card-body {
  min-height: var(--content-height);
  display: grid;
  grid-template-columns: 1fr auto auto;
  color: yellow;
  background: #333;
  font-family: text;
}
/* Date/time row and last blank row only */
.card-body > div {
/*   border: 1px solid; */
  min-height: 1.3em;
  padding: 3px;
}
/* The last (blank) departure row */
.card-body>div:nth-child(6n+2),
.card-body>div:nth-child(6n+3),
.card-body>div:nth-child(6n+4)
{
     background: black;
}

.row {
  display: contents; /* Makes "row" invisible but keeps its children visible */  
}
.row > div {
  padding: 0.2rem;
}
.row:nth-child(even) > div {
  background: black;
}
.lastrow {
  background: purple;
}

.datetime {
  grid-column-start: 1;
  grid-column-end: 4;
  color: orange;
}
.row > div.headsign{
  grid-column: 1;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.row.remain {
  grid-column: 2;
  justify-self: end;
}
.row.tod {
  grid-column: 3;
  justify-self: end;
}
.dep {
  color: red;
}
