.title {
  /* border: 2px solid green; */
  margin-bottom: .5rem;
  margin-top: 1rem;
  padding: 5px 5px;
}

/*
.title h1 {
  New property. Does not break unsupported browsers.
  Not yet supported by Next.js
  text-wrap: balance; 
}
*/

.card {
  border: 2px solid black;
  border-radius: 5px;
  margin: 1rem .5rem;
  padding: 5px 5px;
  background-color: lightsteelblue;
  font-family: Arial, sans-serif;
  width: 95%;
  max-width: 450px;
}

.card-title {
  color: black;
  font-size: 2em;
}
.card-body {
  display: grid;
  /* FIXME: The 1st one is wrong. The 2nd one needs fine-tuning. */
  /* grid-columns: 80% 1fr 1fr; */
  /* grid-template-columns: 80% 1fr 1fr; */
  color: yellow;
  background: #333;
  font-family: text;
}
.card-body > div {
  min-height: 1.3em;
  padding: 3px;
}


.boards {
  margin: 5px;
}

.boards ul {
  list-style: none;
  padding: 10px;
  margin: 10px;
}
/* ---- Temporary data section ---- */

.data {
  margin: 10px;
  padding: 10px;
  /* border: 2px solid purple; */
}

.data ul {
  list-style: none;
  padding: 10px;
  margin: 10px;
}

.data li {
  line-height: 3em;
}